<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.FPWorkConnectionString"
            connectionString="Data Source=focus2.space.digma;Initial Catalog=FPWork;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.FPWorkConnectionString1"
            connectionString="Data Source=focus2;Initial Catalog=FPWork;Persist Security Info=True;User ID=sa;Password=1CGhtlghbznbt82"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>